<h1>Inbox</h1>

<%= render 'messages/header' %>

<div class="ui grid">
  <div class="four wide column">
    <%= render 'messages/sidemenu', received: true %>
  </div>
  <div class="twelve wide column">
    <%= render 'messages/message', received: true %>
  </div>
</div>

<div class="ui small basic modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Read Messages
  </div>
  <div class="content">
    <p>You just have one time to read this message.</p>
  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      OK
    </div>
  </div>
</div>