<h1 class="ui center aligned icon header">
  <i class="green mail outline icon"></i>
  Sent
</h1>

<%= render 'messages/header' %>

<div class="ui grid">
  <div class="four wide column">
    <%= render 'messages/sidemenu', received: false %>
  </div>
  <div class="twelve wide column">
    <%= render 'messages/message', received: false %>
  </div>
</div>