<h1>Sent</h1>

<%= render 'messages/header' %>

<div class="ui grid">
  <div class="four wide column">
    <%= render 'messages/sidemenu', received: false %>
  </div>
  <div class="twelve wide column">
    <%= render 'messages/form', received: false %>
  </div>
</div>