<h1>Users</h1>

<div class="ui cards">
  <% @users.each do |user| %>
    <div class="card">
      <div class="content">
        <div class="header"><%= user.name %></div>
        <div class="description"><%= user.email %></div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <%= link_to 'Add Friend', friendships_path(friend_id: user), method: 'post', class: 'ui basic green button' %>
          <div class="ui basic red button">Block</div>
        </div>
      </div>
    </div>
  <% end %>
</div>