<h1 class="ui center aligned icon header">
  <i class="green users icon"></i>
  Users
</h1>

<div class="ui three cards">
  <% @users.each do |user| %>
    <div class="card">
      <div class="content">
        <div class="header"><%= user.name %></div>
        <div class="description"><%= user.email %></div>
      </div>
      <%= link_to 'Add Friend', friendships_path(friend_id: user), method: 'post', class: 'ui green attached button' %>
    </div>
  <% end %>
</div>