<h1 class="ui center aligned icon header">
  <i class="green users icon"></i>
  Friends
</h1>

<div class="ui three cards">
  <% @users.each do |user| %>
    <div class="card">
      <div class="content">
        <div class="header"><%= user.name %></div>
        <div class="description"><%= user.email %></div>
      </div>
      <%= link_to 'Unfriend', friendship_path(friend_id: user), method: :delete, data: { confirm: 'Are you sure' }, class: 'ui red attached button' %>
    </div>
  <% end %>
</div>