<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>TinyChat</h1>
  <%= link_to 'Sign Up', new_users_path, class: 'ui positive basic button' %>
  <%= link_to 'Sign In', new_sessions_path, class: 'ui primary basic button' %>
</body>
</html>